.popout {
  position: absolute;
  top: 40px;
  left: 590px;
  width: 420px;
  z-index: 999;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  color: #000;
  .countent {
    font-size: 14px;
  }
}
.btn:focus {
  box-shadow: none !important;
}
