.hand {
	cursor: pointer;
}

.txt-c {
	text-align: center;
}

.txt-l {
	text-align: left;
}

.txt-r {
	text-align: right;
}

.bck-f {
	background-color: #FFF;
}

.bck-r {
	background-color: red;
}

.w-1080 {
	width: 1080px;
}

.font-1 {
	font-size: .4rem;
}

.out {
	outline: none;
}

.border-ra {
	border-radius: 2rem;
}

.w-500 {
	width: 500px;
}

.box-sizing {
	box-sizing: border-box;
	border: none;
	background: #fff;
}

.list-none {
	list-style: none;
}

.w-1000 {
	width: 1000px;
}

.bck-color {
	background-color: #83d838;
	color: #fff;
}

.bck-fff {
	background-color: #fff;
}

.font-12 {
	font-size: .6rem;
}

.font-83 {
	border: 1px solid #83d838;
}

.bck-83 {
	background-color: #83d838;
}