.img_style {
    width: 150px;
    height: 150px;
    transition: all 1s;
    transform: scale(1.1);
}
p {
    padding: 0rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ml-5 {
    margin-left: 20rem !important;
}

.numbering {
    font-size: .8rem;
}

.description {
    text-align: left;
    padding-bottom: 0rem;
}

.product-name {
    text-align: center;
    padding: 0rem;
    transition: all 0.5s;
    font-size: 1.2rem;
}

.product-name:hover {
    color: red;
}

.commodity-background {
    flex: 0 0 auto;
    width: 23%;
    border: .1rem solid #f1f1f1;
    box-sizing: box-border;
    transition: all 0.5s;
    margin-right: 1.3rem;
}

.commodity-background:hover {
    border: .1rem solid green;
}

.free {
    color: #666;
    transition: all 0.5s;
}

.free:hover {
    background: green;
    color: #fff;
}

.noData {
    width: 100%;
}

.noIMG {
    width: 35%;
    height: 35%;
}